{% extends "base.html" %}

{% block title %}Nova Categoria{% endblock %}

{% block content %}

<section class="admin-form-page">

    <div class="admin-header-div">
        <h1>Nova Categoria</h1>

        <a href="{{ url_for('admin.categorias') }}" class="admin-btn">
            Voltar
        </a>
    </div>

    <form method="POST" class="admin-form">

        <input type="text" name="nome" placeholder="Nome da categoria" required>

        <textarea name="descricao" placeholder="Descrição da categoria"></textarea>

        <label>
            <input type="checkbox" name="ativo" checked>
            Categoria ativa
        </label>

        <button type="submit">
            Guardar Categoria
        </button>

    </form>

</section>

{% endblock %}