{% extends "base.html" %}

{% block title %}Produtos Admin{% endblock %}

{% block content %}

<section class="admin-page">

    <div class="admin-header">
        <h1>Produtos</h1>
        <a href="{{ url_for('admin.novo_produto') }}" class="admin-btn">
            + Novo Produto
        </a>
    </div>

    <table class="admin-table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>
                    {% if produto.imagem %}
                        <img src="{{ url_for('static', filename=produto.imagem) }}" width="70">
                    {% endif %}
                </td>

                <td>{{ produto.nome }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ "%.2f"|format(produto.preco) }} MT</td>

                <td>
                    <a href="{{ url_for('admin.editar_produto', id=produto.id) }}">
                        Editar
                    </a>

                    <form method="POST"
                          action="{{ url_for('admin.apagar_produto', id=produto.id) }}"
                          style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit"
                                onclick="return confirm('Deseja apagar este produto?')">
                            Apagar
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="pagination">

        {% if pagination.has_prev %}
            <a href="{{ url_for('admin.produtos', page=pagination.prev_num) }}">
                Anterior
            </a>
        {% endif %}

        {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if page_num == pagination.page %}
                    <span class="active-page">{{ page_num }}</span>
                {% else %}
                    <a href="{{ url_for('admin.produtos', page=page_num) }}">
                        {{ page_num }}
                    </a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a href="{{ url_for('admin.produtos', page=pagination.next_num) }}">
                Próxima
            </a>
        {% endif %}

    </div>

</section>

{% endblock %}
