{% extends "base.html" %}

{% block title %}Nova Promoção{% endblock %}

{% block content %}

<section class="admin-form-page">

    <div class="admin-header-div">
        <h1>Nova Promoção</h1>

        <a href="{{ url_for('admin.promocoes') }}" class="admin-btn">
            Voltar
        </a>
    </div>

    <form method="POST" class="admin-form">

        <input type="text" name="nome" placeholder="Nome da promoção" required>

        <select name="produto_id" required>
            <option value="">Selecionar produto</option>

            {% for produto in produtos %}
                <option value="{{ produto.id }}">
                    {{ produto.nome }} - {{ "%.2f"|format(produto.preco) }} MT
                </option>
            {% endfor %}
        </select>

        <input type="number"
               name="desconto"
               placeholder="Desconto em %"
               min="1"
               max="100"
               required>

        <input type="text"
               name="selo"
               placeholder="Texto da faixa. Ex: PROMO, BLACK FRIDAY, HALFWAY DAY">

        <textarea name="descricao"
                  placeholder="Descrição da promoção"></textarea>

        <label>
            <input type="checkbox" name="ativo" checked>
            Promoção ativa
        </label>

        <button type="submit">
            Guardar Promoção
        </button>

    </form>

</section>

{% endblock %}